<!doctype html>
<html>
  <head>
    <title>管理分类</title>
    <link rel="stylesheet" href="../base-modal/index.css" />
  </head>
  <body>
    <div class="modal">
      <h3 id="modal-title"></h3>
      <p id="error"></p>

      <label>分类名称：</label>
      <input id="category-name" type="text" />

      <div class="modal-actions">
        <button id="submit-btn" class="primary-btn">确认</button>
        <button id="cancel-btn" class="secondary-btn">取消</button>
      </div>
    </div>

    <script src="../base-modal/index.js"></script>
    <script src="index.js"></script>
  </body>
</html>
