<!doctype html>
<html>
  <head>
    <title>管理商品</title>
    <link rel="stylesheet" href="../base-modal/index.css" />
  </head>

  <body>
    <div class="modal">
      <h3 id="modal-title"></h3>
      <p id="error"></p>

      <label>商品名称：</label>
      <input type="text" id="product-name-input" required />

      <label>所属分类:</label>
      <select id="product-category-input"></select>

      <label>价格 (分):</label>
      <input type="number" id="product-price-input" required />

      <label>规格:</label>
      <input type="text" id="product-options-input" />

      <div class="modal-actions">
        <button id="submit-btn" class="primary-btn">确认</button>
        <button id="cancel-btn" class="secondary-btn">取消</button>
      </div>
    </div>

    <script src="../base-modal/index.js"></script>
    <script src="index.js"></script>
  </body>
</html>
